body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514E;
}

h1 {
    font-size: 562.5%;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 35px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

p {
    line-height: 2;
}

hr {
    margin: 80px auto;
    border-style: dotted none none;
    border-color: gray;
    border-width: 5px;
    height: 0px;
    width: 5%;
}

.subtitle {
    font-size: 2rem;
    color: #66BFBF;
    font-weight: normal;
}

.top-container {
    background-color: #e4f9f5;
    position: relative; 
    padding-top: 100px;
}

.middle-container {
    margin-bottom: 100px;
}

.skill-row {
    width: 60%;
    margin: 120px auto 120px auto;
    text-align: left;
}

.bottom-container {
    background-color: #66BFBF;
    width: 100%;
    padding: 50px 0 20px;
}

.pro {
    text-decoration: underline;
}

.intro {
    width: 30%;
    margin: auto;
}

.top-cloud {
    position: absolute; 
    right: 300px;
    top: 50px;
}

.mountain {
    all:unset;
    margin: auto;
}

.img-row {
    all:unset;
    position: absolute;
    top: 31.8em;  
    left: 0px;
    max-width: 150%;
}

.trees {
    width: 16.665%;
    height: 210px;
    padding: 0;
    float: left;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.kevin {
    margin-top: 70px;
    margin-bottom: 15px;
    height: 200px;
}

.books {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.computer {
    width: 25%;
    float: right;
    margin-left: 30px;
}

.nwplus {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.contact-msg {
    width: 40%;
    margin: auto;
    margin: 40px auto 60px;
}


.footer-link {
    display: inline;
}

.copyright {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding-top: 10px;
}

a {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover {
    color: #EAF6F6;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999E);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999E);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999E);
    background-image: -o-linear-gradient(top, #11cdd4, #11999E);
    background-image: linear-gradient(to bottom, #11cdd4, #11999E);
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }